body {
    text-align: center;
}
header,
footer {
	background-color: rgb(47, 29, 150);
	color: rgba(231, 226, 226, 0.658);
	padding: 10px;
}

footer {
	font-size: 13px;
	letter-spacing: 1.5pt;
}

h1 {
	margin: 0;
	font-family: sans-serif solid rgba(231, 226, 226, 0.658);
	text-transform: uppercase;
}
h2 {
	color: rgb(158, 158, 158);
	font-size: 24px;
	font-family: sans-serif solid rgba(231, 226, 226, 0.658);
	text-transform: uppercase;
}
h3 {
	color: rgb(158, 158, 158);
	font-family: sans-serif solid
	font-size: 24px;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(231, 226, 226, 0.658);
	padding: 5px;
}
p {
	color: white;
}

main {
	margin: 10px auto;
	border: 1px solid rgb(24, 24, 24);
	padding: 10px;
	max-width: 500px;
	background-color: rgb(47, 29, 150);
	box-shadow: 0 0 30px;
	border-radius: 10px;

footer {
    font-family: 'sans-serif' solid rgba(231, 226, 226, 0.658);
}

label {
    font-size: 1rem;
    padding-right: 10px solid rgba(231, 226, 226, 0.658);
}

input {
	padding: 10px;
	border-radius: 5px;
}
button {
	padding: 10px;
	background-color:  rgba(231, 226, 226, 0.658);
	font-family: sans-serif
	border: 1px solid black;
	border-radius: 5px;
}

