body {
    text-align: center;
}
header,
footer {
	background-color: rgb(47, 29, 150);
	color: rgba(231, 226, 226, 0.658);
	padding: 10px;
}

footer {
	font-size: 13px;
	letter-spacing: 1.5pt;
}

h1,
h2,
h3 {
	margin: 0;
}

h2, #currentdate {
	color: rgba(231, 226, 226, 0.658);
}


main {
	margin: 10px auto;
	border: 1px solid rgba(231, 226, 226, 0.658);
	padding: 10px;
	max-width: 500px;
	background-color:  rgb(47, 29, 150);
	box-shadow: 0 0 30px;
}

h3 {
	font-size: 24px;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(231, 226, 226, 0.658);
	padding: 0;
}

label,
footer {
    font-family: sans-serif solid rgba(231, 226, 226, 0.658);
}

label {
    font-size: 1rem;
    padding-right: 10px solid rgba(231, 226, 226, 0.658);
}

ul {
	text-align: left;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
}

footer {
    font-size: .8rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.output {
    background: center/cover no-repeat url('/media/cc0-images/hamster.jpg');
    position: relative;
}

