body {
    text-align: center;
    background-image: url("img_tree.gif"), url("paper.gif");
  background-repeat: no-repeat, repeat;
}
header,
footer {
	background-color: rgb(240, 169, 16);
	color: #333;
	padding: 10px;
}

footer {
	font-size: 13px;
	letter-spacing: 1.5pt;
}

h1,
h2 {
	margin: 0;
}

h2, #currentdate {
	color: #333;
}

main {
	margin: 10px auto;
	border: 1px solid #999;
	padding: 10px;
	max-width: 500px;
	background-color: #e4c5eb;
	box-shadow: 0 0 30px;
}

h3 {
	font-size: 24px;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #333;
	padding: 0;
}

label,
footer {
    font-family: sans-serif;
}

label {
    font-size: 1rem;
    padding-right: 10px;
}

ul {
	text-align: left;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
}

footer {
    font-size: .8rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.output {
    background: center/cover no-repeat url('/media/cc0-images/hamster.jpg');
    position: relative;
}

